.Profile-Body{
    width: 100vw;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background: linear-gradient(rgb(253, 233, 242) 0%, rgb(253, 240, 232) 100%, rgb(253, 240, 232) 100%);


}
.SinupContainer{
    margin-top: 112px;
    margin-bottom: 80px;
    height: 708px;
    width: 433px;
    position: relative;
    background-color: rgb(255, 255, 255);
   
    border: 1px solid rgb(240, 240, 240);
}
.containerItem-image {
    height: 208;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
}
.containerItem-image img{
    overflow: hidden;
    object-fit: cover;
    border-style: none;
    height: 208;
    width: 100%;
    
}
.sinupContainer{
    height: 202px;
    width: 430px;
    margin-top: 48px ;
    padding: 0px 40px;
}

.sinupContainer h1{
    color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
 
}

.inpDetails{

    width: 100%;
    padding-top: 6px;
    margin-top: 14px;
}
.inpDetails input{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    background-color: transparent;
    outline: none;
    padding: 8px 0px 7px;
    transition: all 0.2s ease 0s;
    z-index: 1;
    color: rgb(153, 153, 153);
    border-bottom: 1px solid rgb(223, 223, 223);

}
.inpDetails input:focus{
    border-bottom: 1px solid rgb(244, 51, 151);
    caret-color: rgb(244, 51, 151);
}
.btn button{
    cursor: pointer;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.0015em;
    font-size: 15px;
    line-height: 20px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background: rgb(244, 51, 151);
    border: none;
    padding: 12px;
    margin-top: 70px;
    width: 60%;
    margin-left:84px;
    align-items: flex-end;
}
.TermPolicy{
    position: absolute;
    bottom: 25px;
    left: 104px;
    text-align: center;
}

.TermPolicy p{
    color: rgb(153, 153, 153);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-family: "Mier book";
    margin: 0px;
    padding: 2px 0px;
}
.TermPolicy p span{
    color: rgb(244, 51, 151);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    font-family: "Mier demi";
    margin: 0px;
    padding: 0px;
}